.header {
    font-size: 60px;
    text-align: center;
    background-color: silver;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoGithub {
    float: left;
    width: 150px;
    margin-left: 2em;
}

#logoPersonal {
    float: right;
    width: 100px;
    margin-right: 2em;
}

div {
    font-family: 'PT Serif', serif;
}