.vistas {
    display: flex;
    justify-content: space-around;
    background-color: silver;
    width: 100%;
    border-color: slategray;
    border-width: 5px;
    border-style: solid;
    font-size: 30px;
    font-family: 'PT Serif', serif;
    color: whitesmoke;
}

.active {
    background-color: rgb(29, 32, 32);
    color: whitesmoke;
}

a {
    color: rgb(44, 42, 42);
}