<ng-container *ngFor="let auto of autos  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    <div class="list">


        <div class=" fas fa-eye fa-3x" (click)="onSelect(auto, autoModal)" id="ojo"></div>
        <div class="item item-description" id="descripcion">{{auto.descripcion}}</div>

    </div>
</ng-container>

<ng-template #autoModal let-modal>
    <div class="modal header">
        <h4 class="modal-title" id="modal-title">Descripcion</h4>
    </div>
    <div class="modal-body">
        <div> {{autoSeleccionado.descripcion}}</div>
        <div>{{autoSeleccionado.marca}}</div>
        <div>{{autoSeleccionado.submarca}}</div>
        <div>Modelos: {{autoSeleccionado.modelos}}</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Salir</button>
    </div>
</ng-template>

<div>
    <ngb-pagination aria-label="Default pagination" [(page)]="page" [pageSize]="pageSize" [collectionSize]="autos.length">
    </ngb-pagination>
</div>