.log {
    background-color: black;
    color: whitesmoke;
    margin: 0 auto;
    width: 80%;
    height: 500px;
    margin-top: 20px;
    padding: 10px;
    overflow: scroll;
    font-family: 'Consolas', 'monospace';
}

p {
    margin: 0;
}